.Button {
  padding: .5rem 1rem;
  border-radius: .5rem;
  transition: 0.15s;
  color: white;
  background-color: rgb(0, 102, 255);
  cursor: pointer;
}

.Button:hover {
  background-color: rgb(0, 120, 255);
  box-shadow: 0 2px 8px 0 rgba(0,0,0,0.2); ;
}